html {
  background-color: rgba(3, 23, 172, 0.769)
}

#clock {
  font: bold 14pt sans;
  padding: 10px;
}

/* scroll feature for cards */

.clear {
  clear: both;
}
.weather-card {
  width: 25em;
  min-height: 22.5em;
  background: #fff;
  margin: 2em auto;
  border-radius: 0.2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.city {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.8em;
  color: #5b5b5b;
}
.menu {
  float: right;
  font-family: Roboto;
  font-size: 0.5em;
  color: #5b5b5b;
  margin-top: -0.09em;
  margin-right: -2em;
  list-style: square;
}
.sun {
  width: 4em;
  height: 4em;
  border-radius: 2.5em;
  margin-top: 1em;
}
.temp {
  float: right;
  font-family: Roboto;
  font-weight: 300;
  font-size: 7em;
  margin-top: -0.75em;
  color: #5b5b5b;
}
.variations {
  font-family: Roboto;
  font-weight: 300;
  color: #8c8c8c;
  list-style: none;
  margin-left: -0.5em;
}
.mph {
  font-size: 0.8em;
}
.speed:before {
  content: url("https://i.imgur.com/luN0Jmq.png");
}
.forecast {
  width: 100%;
  margin: 0 auto;
}
.day {
  display: block;
  width: 21.5%;
  height: 9em;
  float: left;
  margin: 0 0.375em 0.5em;
  text-align: center;
  font-family: Roboto;
  color: #5b5b5b;
  border-right: 0.1em solid #d9d9d9;
  line-height: 2;
}
.fri {
  border-right: none;
}
.highTemp {
  font-weight: bold;
}
.lowTemp {
  color: #8c8c8c;
}

.card-1 {
  background-color: #fff;
  width: 50% !important;
  float: left;
  min-height: 100px !important;
  overflow: scroll;
  padding-left: 15px !important;
}

/* scroll feature for cards */
.card-scroll {
  height: 300px !important;
  overflow: scroll;
}

/* this is for the refresh button in the card */
.card-action {
  height: 50px !important;
}

h4 {
  font-size: 20px !important;
}

.quoteRefresh {
  top: 5px;
}
