

#space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.stars {
  background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 10s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}

.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}

.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 3s;
}

.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 5s;
}

.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 7s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

body {
  background-image: url("/Users/rogermcintosh/carpediem/public/Images/mountain.png");
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  z-index: -1;
  height: 100;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -1.5em -2.5em;
  width: 5em;
  color: #011;
  font-size: 5em;
  text-align: center;
  text-shadow: 0 0 3px #6cf;
}


#clock {
  font: bold 14pt sans;
  padding: 10px;
}


p {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 700;
}

p span {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500;
  perspective: 500;
  -webkit-font-smoothing: antialiased;
}

p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}

p span::before {
  z-index: 1;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
  transform: scale(1.1, 1) skew(0deg, 20deg);
}

p span::after {
  z-index: 2;
  color: #684da3;
  text-shadow: -1px 0 1px #684da3, 1px 0 1px rgba(0, 0, 0, 0.8);
  -webkit-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}

p span:hover::before {
  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
  transform: scale(1.1, 1) skew(0deg, 5deg);
}

p span:hover::after {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}

p span+span {
  margin-left: 0.3em;
}

@media (min-width: 20em) {
  p {
    font-size: 2em;
  }
  p span::before,
  p span::after {
    display: block;
  }
}

@media (min-width: 30em) {
  p {
    font-size: 3em;
  }
}

@media (min-width: 40em) {
  p {
    font-size: 5em;
  }
}

@media (min-width: 60em) {
  p {
    font-size: 8em;
  }
}

.hover-block {
  float: left;
  height: 84px;
  display: block;
  margin-right: 2%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.hover-block.h {
  width: 14%;
}

.hover-block.i {
  width: 20%;

}

/* scroll feature for cards */
.card-scroll{
  height: 50px;
  overflow: scroll;
} 

  .clear {
    clear:both;
  }
  .weather-card {
    width:25em;
    min-height:22.5em;
    background: #fff;
    margin:2em auto;
    border-radius: .2em;
    padding-top:1em;
    padding-left: 1em;
    padding-right:1em;
  }
  .city {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.8em;
    color:#5b5b5b;
  }
  .menu {
    float: right;
    font-family: Roboto;
    font-size:.5em;
    color:#5b5b5b;
    margin-top:-.09em;
    margin-right:-2em;
    list-style:square;
  }
  .sun {
    width:4em;
    height:4em;
    border-radius: 2.5em;
    margin-top: 1em;
  }
  .temp {
    float:right;
    font-family:Roboto;
    font-weight: 300;
    font-size: 7em;
    margin-top:-.75em;
    color:#5b5b5b;
  }
  .variations {
    font-family:Roboto;
    font-weight:300;
    color:#8c8c8c;
    list-style:none;
    margin-left:-0.5em;
  }
  .mph {
     font-size:.8em;
  }
  .speed:before {
    content:url('https://i.imgur.com/luN0Jmq.png');
  }
  .forecast {
    width:100%;
    margin:0 auto;
  }
  .day {
    display:block;
    width: 21.5%;
    height:9em;
    float:left;
    margin: 0 .375em .5em;
    text-align:center;
    font-family:Roboto;
    color: #5b5b5b;
    border-right:.1em solid #d9d9d9;
    line-height: 2;
  }
  .fri {
    border-right:none;
  }
  .highTemp {
    font-weight:bold;
  }
  .lowTemp {
    color: #8c8c8c;
  }

